.technologies-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.skills-title {
  margin: 20px 0;
  text-align: center;
  font-size: 2.5rem;
}

.skills-wrapper {
  display: grid;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  max-width: 800px;
}

.skills-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.skill-item {
  border-radius: 16px;
  border: 2px solid #2c2c2c;
  padding: 10px;
}

.react-icon {
  color: #61dafb;
  font-size: 3rem;
}

.node-icon {
  color: #68a063;
  font-size: 3rem;
  transition: color 0.3s;
}

.mongo-icon {
  color: #47a248;
  font-size: 3rem;
  transition: color 0.3s;
}

.sql-icon {
  color: #00758f;
  font-size: 3rem;
  transition: color 0.3s;
}

.html-icon {
  color: #e34f26;
  font-size: 3rem;
  transition: color 0.3s;
}

.css-icon {
  color: #1572b6;
  font-size: 3rem;
  transition: color 0.3s;
}

.tailwind-icon {
  color: #38b2ac;
  font-size: 3rem;
  transition: color 0.3s;
}

.js-icon {
  color: #f7df1e;
  font-size: 3rem;
  transition: color 0.3s;
}

.git-icon {
  color: #181717;
  font-size: 3rem;
  transition: color 0.3s;
}

.redux-icon {
  color: #764abc;
  font-size: 3rem;
  transition: color 0.3s;
}

.Bs-icon {
  color: #563d7c;
  font-size: 3rem;
  transition: color 0.3s;
}

.java-icon {
  color: #f89820;
  font-size: 3rem;
  transition: color 0.3s;
}

.python-icon {
  color: #3776ab;
  font-size: 3rem;
  transition: color 0.3s;
}

.nextjs-icon {
  color: #000000;
  font-size: 3rem;
  transition: color 0.3s;
}

.postgres-icon {
  color: #336791;
  font-size: 3rem;
  transition: color 0.3s;
}

.typescript-icon {
  color: #3178c6;
  font-size: 3rem;
  transition: color 0.3s;
}

.aws-icon {
  color: #ff9900;
  font-size: 3rem;
  transition: color 0.3s;
}

.postman-icon {
  color: #ff6c37;
  font-size: 3rem;
  transition: color 0.3s;
}

.jira-icon {
  color: #0052cc;
  font-size: 3rem;
  transition: color 0.3s;
}

.express-icon {
  color: #000000;
  font-size: 3rem;
  transition: color 0.3s;
}
